{% assign collection = site.collections | find: "label", document.collection %}

{% assign icon = "fas fa-fw fa-square" %}
{% if collection.venue-icon %}
	{% assign icon = collection.venue-icon %}
{% endif %}

{% assign venue_schema = "https://schema.org/Thing" %}
{% if collection.venue-schema %}
	{% assign venue_schema = collection.venue-schema %}
{% endif %} 

{% assign venue_class = "" %}
{% if venue_schema == "https://schema.org/publisher" %}
	<!-- temporary: will need to adjust if this field gets used for book publisher, for example -->
	{% assign venue_class = "publication" %}
{% endif %} 

<p class="page__venue" itemprop="pageVenue" itemscope itemtype="{{venue_schema}}">
	<i class="{{icon}}" aria-hidden="true"></i>
	<span itemprop="name" class="p-locality  {{venue_class}}">{{document.venue}}</span>
</p>