{% assign collection = site.collections | where: "label", document.collection | first %}

{% assign icon = "fas fa-fw fa-square" %}
{% if collection.venue_icon %}
	{% assign icon = collection.venue_icon %}
{% endif %}

{% assign venue_schema = "https://schema.org/Thing" %}
{% if collection.venue_schema %}
	{% assign venue_schema = collection.venue_schema %}
{% endif %} 

{% assign venue_class = "" %}
{% if venue_schema == "https://schema.org/publisher" %}
	<!-- temporary: will need to adjust if this field gets used for book publisher, for example -->
	{% assign venue_class = "publication" %}
{% endif %} 

{% assign venue = document.venue %}
{% if document.venue_collection && document.venue_permalink %}
	{% assign venue = site[document.venue_collection] | where: "permalink", document.venue_permalink | map: "title" | first %}
{% endif %}


<p class="page__venue" itemprop="pageVenue" itemscope itemtype="{{venue_schema}}">
	<i class="{{icon}}" aria-hidden="true"></i>
	<span itemprop="name" class="p-locality  {{venue_class}}">
		{% if document.venue_permalink %}
			<a href="{{document.venue_permalink}}">{{venue}}</a>
		{% else %}
			{{venue}}
		{% endif %}
	</span>
</p>