{% for type in document.type%}
	{% assign post_type = site.post_types | where:"name", type | first %}
	{% if post_type %}
		{% assign icon = post_type.icon %}
		{% assign label = post_type.label %}	
	{% else %}
		{% assign icon = "fas fa-fw fa-square" %}
		{% assign label = document.type %}
	{% endif %}
	<p class="page__type">
    	{% if document.assignment_permalink contains type and document.assignment_permalink != page.url %}
		<i class="{{icon}}" aria-hidden="true"></i> <a href="{{ document.assignment_permalink }}">{{ label }}</a>
		{% else %}
			<i class="{{icon}}" aria-hidden="true"></i> {{ label }}
		{% endif %}
	</p>
{% endfor %}