<!-- {% capture this_page %}{{include.this_page | default: page}}{% endcapture %} -->
{% assign page_header = include.page_header | default: page.header %}
{% assign page_title = include.page_title | default: page.title %}
{% assign page_excerpt = include.page_excerpt | default: page.excerpt %}
{% assign page_tagline = include.page_tagline | default: page.tagline %}
{% assign page_url = include.page_url %}

{% capture overlay_img_path %}{{ page_header.overlay_image | relative_url }}{% endcapture %}

{% assign overlay_filter = nil %}
{% if page_header.overlay_filter contains "gradient" %}
  {% capture overlay_filter %}{{ page_header.overlay_filter }}{% endcapture %}
{% elsif page_header.overlay_filter contains "rgba" %}
  {% capture overlay_filter %}{{ page_header.overlay_filter }}{% endcapture %}
  {% capture overlay_filter %}linear-gradient({{ overlay_filter }}, {{ overlay_filter }}){% endcapture %}
{% elsif page_header.overlay_filter %}
  {% capture overlay_filter %}rgba(0, 0, 0, {{ page_header.overlay_filter }}){% endcapture %}
  {% capture overlay_filter %}linear-gradient({{ overlay_filter }}, {{ overlay_filter }}){% endcapture %}
{% endif %}

{% if page_header.image_description %}
  {% assign image_description = page_header.image_description %}
{% else %}
  {% assign image_description = page_title %}
{% endif %}

{% assign image_description = image_description | markdownify | strip_html | strip_newlines | escape_once %}

<div class="page__hero{% if page_header.overlay_color or page_header.overlay_image %}--overlay{% endif %}"
  style="{% if page_header.overlay_color %}background-color: {{ page_header.overlay_color | default: 'transparent' }};{% endif %} {% if overlay_img_path %}background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ overlay_img_path }}');{% endif %}{% if page_header.overlay_position %}background-position:{{page_header.overlay_position}};{% endif %}"
>
  {% if page_header.overlay_color or page_header.overlay_image %}
    <div class="wrapper">
      <h1 id="page-title" class="page__title" itemprop="headline">
        {% capture title %}
          {% if paginator and site.paginate_show_page_num %}
            {{ site.title }}{% unless paginator.page == 1 %} {{ site.data.ui-text[site.locale].page | default: "Page" }} {{ paginator.page }}{% endunless %}
          {% else %}
            {{ page_title | default: site.title | markdownify | remove: "<p>" | remove: "</p>" }}
          {% endif %}
        {% endcapture %}

        {% if page_url %}
          <a href="{{ page_url | relative_url }}" rel="permalink">{{title}}</a>
        {% else %}
          {{title}}
        {% endif %}
      </h1>
      {% if page_tagline %}
        <p class="page__lead">{{ page_tagline | markdownify | remove: "<p>" | remove: "</p>" }}</p>
      {% elsif page_header.show_overlay_excerpt != false and page_excerpt %}
        <p class="page__lead">{{ page_excerpt | markdownify | remove: "<p>" | remove: "</p>" }}</p>
      {% endif %}
      {% include page__meta.html %}
      {% if page_header.cta_url %}
        <p><a href="{{ page_header.cta_url | relative_url }}" class="btn btn--light-outline btn--large">{{ page_header.cta_label | default: site.data.ui-text[site.locale].more_label | default: "Learn More" }}</a></p>
      {% endif %}
      {% if page_header.actions %}
        <p>
        {% for action in page_header.actions %}
          <a href="{{ action.url | relative_url }}" class="btn btn--light-outline btn--large">{{ action.label | default: site.data.ui-text[site.locale].more_label | default: "Learn More" }}</a>
        {% endfor %}
      {% endif %}
    </div>
  {% else %}
    <img src="{{ page_header.image | relative_url }}" alt="{{ image_description }}" class="page__hero-image">
  {% endif %}
  {% if page_header.caption %}
    <span class="page__hero-caption">{{ page_header.caption | markdownify | remove: "<p>" | remove: "</p>" }}</span>
  {% endif %}
</div>
