{% if page.topbar %}
  {% assign nav = site.data.navigation[page.topbar.nav] %}
  {% assign children = nav[0].children %}

  <div class="topbar">
    <div class="topbar__inner-wrap">
      <div class="topbar__menu">
        <nav id="topbar-nav" class="simple-nav">
          <ul class="simple-nav__list">
            <!-- ignore nav title and URL, since it's a repeat of the main nav bar -->
            {% if children != null %}
              {% for child in children %}
                {% assign page_url_substring = page.url | slice: 0, child.url.size - 1 %}
                <li>
                  <a
                    href="{{ child.url | relative_url }}"
                    {% if page_url_substring == child.url %}
                    class="active"
                    {% endif %}>{{ child.title }}</a>
                </li>
              {% endfor %}
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </div>

{% endif %}
