/* ==========================================================================
   Arthur's custom skin (based on contrast skin)
   ========================================================================== */

/* system typefaces */
$serif: schoolbook, Georgia, Times, serif !important;
$sans-serif: nimbus-sans, -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif !important;
$monospace: Monaco, Consolas, "Lucida Console", monospace !default;
 
/* sans serif typefaces */
$sans-serif-narrow: $sans-serif !default;
$helvetica: Helvetica, "Helvetica Neue", Arial, sans-serif !default;

$sans-serif-wide: nimbus-sans-extended !default;

/* serif typefaces */
$georgia: Georgia, serif !default;
$times: Times, serif !default;
$bodoni: "Bodoni MT", serif !default;
$calisto: "Calisto MT", serif !default;
$garamond: Garamond, serif !default;

$global-font-family: $sans-serif !default;
$header-font-family: $sans-serif-wide !default;
$caption-font-family: $sans-serif !default;


/* Colors */
$text-color: #3B3E40 !default;
$muted-text-color: $text-color !default;
$primary-color: #e2e1dd !default;
$secondary-color: mix(#fff, #e2e1dd, 20%) !default;
$border-color: mix(#fff, $text-color, 75%) !default;
$background-color: #f2f1ed !default;
$header-background-color: rgba($primary-color, .5) !default;
$subheader-background-color: rgba($secondary-color, .3) !default;
$footer-background-color: rgba($primary-color, .5) !default;
$link-color: #515999 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#fff, $text-color, 40%) !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

// background
// $background-image-header: url('/assets/images/background/lewitt-arcs-from-four-sides-colors.svg');
$background-image:        url('/assets/images/background/lewitt-arcs-from-adjacent-sides-colors.svg') !default;
// $background-image-topbar: url('/assets/images/background/lewitt-arcs-from-adjacent-sides-and-corner-colors.svg') !default;
// $background-image-footer: url('/assets/images/background/lewitt-arcs-from-adjacent-sides-colors.svg') !default;

/* contrast syntax highlighting (base16) */
$base00: #000000 !default;
$base01: #242422 !default;
$base02: #484844 !default;
$base03: #6c6c66 !default;
$base04: #918f88 !default;
$base05: #b5b3aa !default;
$base06: #d9d7cc !default;
$base07: #fdfbee !default;
$base08: #ff6c60 !default;
$base09: #e9c062 !default;
$base0a: #ffffb6 !default;
$base0b: #a8ff60 !default;
$base0c: #c6c5fe !default;
$base0d: #96cbfe !default;
$base0e: #ff73fd !default;
$base0f: #b18a3d !default;

.page__content {
  .notice,
  .notice--primary,
  .notice--info,
  .notice--warning,
  .notice--success,
  .notice--danger {
    color: $text-color;
    font-size: 1em !important;
    margin: 0 0 1em 1em !important;
    padding: .5em !important;
  }
  h1 {
    font-weight: bold;
    &:not(:first-of-type) {
      padding-top: 1em;
      border-top: 3px dashed $border-color;
    }
  }
  h2, h3, h4 {
    margin: 1em 0 .5em .5em;
  }
  ul li, ol li {
    margin-bottom: .25em;
  }
  li ul, li ol {
    margin-top: .25em;
  }
  p {
    margin: 0 0 1.3em 1em !important;
  }
}

.masthead__menu {
  font-family: $sans-serif-wide;
}

h4.nav__title {
  color: $text-color !important; // override
}
#footer.page_footer {
  margin-top: 0 !important;

  .page__footer-follow .social-icons i,
  .page__footer-follow .social-icons .svg-inline--fa  {
    color: inherit;
  }
}

.page__hero {
  &--overlay {
    padding: 1.5em 0 !important;
  }
}

body {
  background: $background-image no-repeat center center fixed;
  background-size: cover;
}

.initial-content {
  background-color: rgba($background-color, 0.8);
  padding-bottom: 3em;
}



// .masthead {
//   background: $background-image-header no-repeat center center fixed;
//   background-size: cover;
// }

// .topbar {
//   background: $background-image-topbar no-repeat center center fixed;
//   background-size: cover;
// }

// .page__footer {
//   background: $background-image-footer no-repeat center center fixed;
//   background-size: cover;
// }