/* ==========================================================================
   TOPBAR
   ========================================================================== */

/*
   Default
   ========================================================================== */

   .topbar {
    position: relative;
    z-index: 10;
    border-bottom: 1px solid $border-color;
    background-color: $subheader-background-color;
    -webkit-animation: $intro-transition;
    animation: $intro-transition;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
  
    .topbar__inner-wrap {
      margin-left: auto;
      margin-right: auto;
      padding: 1em;
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      font-family: $sans-serif-narrow;
  
      @include breakpoint($x-large) {
        max-width: $max-width;
      }
    }
  
    .simple-nav {
      display: flex;
      align-items: center;
      width: 100%;
  
      &__list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        flex: 1;
        justify-content: flex-end;
  
        li {
          margin: 0 1em;
        }
  
        a {
          text-decoration: none;
          color: $masthead-link-color;
          transition: none;
  
          &:hover {
            color: $masthead-link-color-hover;
          }

          &.active {
            background-color: $background-color;
            border-radius: 5px;
            text-decoration: none;
            box-shadow: 0 0 0 8px $background-color; // Create a button-like effect
          }
        }
      }
  
      &.vertical {
        flex-direction: column;
        align-items: flex-start;
  
        & > .simple-nav__list {
          flex-direction: column;
          width: auto;
  
          li {
            margin: 0.5em 0;
          }
        }
      }
    }
  }



.topbar__menu {
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;

    .site-nav {
        margin-left: 0;

        @include breakpoint($small) {
        float: right;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        clear: both;
        list-style-type: none;
    }
}

.topbar__menu-item {
    display: block;
    list-style-type: none;
    white-space: nowrap;

    &--lg {
        padding-right: 2em;
        font-weight: 700;
    }
}
  